<!-- ==================== Footer Start Here ==================== -->
<footer class="footer position-relative z-1 bg-img" data-background-image="assets/images/thumbs/footer-bg.jpg">
    <div class="py-120">
        <div class="container">
            <div class="row tw-pb-24">
                <div class="col-xl-4">
                    <div class="tw-mb-8" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <a href="index.html" class="">
                            <img src="assets/images/logo/footer-logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-xl-8">
                  <div class="footer-col-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <h4 class="tw-text-9 fw-medium text-uppercase tw-mb-2">Subscribe Now As a Newsletter</h4>
                        <form action="#" class="footer-form position-relative form-submit d-flex tw-gap-3 tw-mb-3">
                            <input type="email" class="form-control bg-white shadow-none border border-neutral-700 text-heading rounded-pill tw-ps-6 tw-pe-13 focus-border-main-600 tw-h-13 tw-placeholder-text-neutral-900 focus-tw-placeholder-text-hidden tw-placeholder-transition-2" placeholder="Email..." required>
                            <div class="footer-form-button">
                                <button class="theme-btn-main tw-w-232-px d-inline-flex align-items-center position-relative tw-transition-all">
                                    <span class="theme-btn-arrow-left tw-w-14 tw-h-14 lh-1 d-inline-flex justify-content-center align-items-center bg-main-600 text-heading rounded-circle position-absolute tw-transition-3"><i class="ph ph-arrow-right"></i></span>
                                    <span class="theme-btn bg-main-600 text-heading tw-py-4 tw-px-10 fw-medium d-inline-flex align-items-center tw-gap-8 text-capitalize tw-rounded-4xl tw-transition-3 z-2">Explore More</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row tw-mb-20">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-col-2" data-aos="fade-up" data-aos-duration="400">
                        <h5 class="tw-text-8 fw-medium text-white tw-mb-2">Home</h5>
                        <ul>
                            <li>
                                <a href="index.html" class="text--white hover-text-main-600 hover-underline">Home One</a>
                            </li>
                            <li>
                                <a href="home-brillowelle.html" class="text--white hover-text-main-600 hover-underline">Home Two</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-col-3" data-aos="fade-up" data-aos-duration="500">
                        <h5 class="tw-text-8 fw-medium text-white tw-mb-2">Pages</h5>
                        <ul>
                            <li>
                                <a href="about-brillowelle.html" class="text--white hover-text-main-600 hover-underline">About</a>
                            </li>
                            <li>
                                <a href="services-brillowelle.html" class="text--white hover-text-main-600 hover-underline">Services</a>
                            </li>
                            <li>
                                <a href="portfolio-brillowelle.html" class="text--white hover-text-main-600 hover-underline">Portfolio</a>
                            </li>
                            <li>
                                <a href="contact.html" class="text--white hover-text-main-600 hover-underline">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6" data-aos="fade-up" data-aos-duration="400">
                    <div class="footer-col-4 footer-address">
                        <div class="contact-left">
                            <div class="contact-left-item d-flex tw-gap-6 tw-mb-9">
                                <div>
                                    <span class="tw-w-15 tw-h-15 lh-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-heading rounded-circle tw-text-8"><img src="assets/images/icons/footer-icon1.svg" alt="icon"></span>
                                </div>
                                <div>
                                    <span class="fw-medium d-block text-white">Call Us 7/24</span>
                                    <a class="font-heading font-white fw-medium tw-text-3xl d-block text-white hover-text-main-600" href="tel:2085550112">+208-555-0112</a>
                                </div>
                            </div>
                            <div class="contact-left-item d-flex tw-gap-6 tw-mb-9">
                                <div>
                                    <span class="tw-w-15 tw-h-15 lh-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-heading rounded-circle tw-text-8"><img src="assets/images/icons/footer-icon2.svg" alt="icon"></span>
                                </div>
                                <div>
                                    <span class="fw-medium d-block text-white">Location</span>
                                    <p class="font-heading fw-medium tw-text-3xl d-block text-white">Elgin  Ltd, 31 Ashcombe, London NW5 1QU, U</p>
                                </div>
                            </div>
                            <div class="contact-left-item d-flex tw-gap-6 tw-mb-9">
                                <div>
                                    <span class="tw-w-15 tw-h-15 lh-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-heading rounded-circle tw-text-8"><img src="assets/images/icons/footer-icon3.svg" alt="icon"></span>
                                </div>
                                <div>
                                    <span class="fw-medium d-block text-white">Make a Quote</span>
                                    <a class="font-heading fw-medium tw-text-3xl d-block text-white hover-text-main-600" href="mailto:yourdomain@gmail.com">yourdomain@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- bottom Footer -->
        <div class="tw-py-8">
            <div class="container container-two">
                <div class="footer-copyright-wrapper d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
                     <p class="text--white text-line-1 fw-normal">© <a href="index.html" class="fw-semibold text-main-600 hover-underline hover-text-white">Agenki</a> 2025 . All rights reserved, Wowtheme7</p>
                    <ul class="footer-social d-flex align-items-center tw-gap-4">
                        <li>
                            <a href="https://www.facebook.com" class="tw-w-10 tw-h-10 lh-1 d-inline-flex align-items-center justify-content-center text-white rounded-circle hover-bg-main-600 hover-text-heading"><i class="ph-bold ph-facebook-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="tw-w-10 tw-h-10 lh-1 d-inline-flex align-items-center justify-content-center text-white rounded-circle hover-bg-main-600 hover-text-heading"><i class="ph-bold ph-twitter-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" class="tw-w-10 tw-h-10 lh-1 d-inline-flex align-items-center justify-content-center text-white rounded-circle hover-bg-main-600 hover-text-heading"><i class="ph-bold ph-instagram-logo"></i></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com" class="tw-w-10 tw-h-10 lh-1 d-inline-flex align-items-center justify-content-center text-white rounded-circle hover-bg-main-600 hover-text-heading"><i class="ph-bold ph-pinterest-logo"></i></a>
                        </li>
                    </ul>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="footer-bg-shape position-absolute end-0 bottom-0 z-n1" src="assets/images/shapes/footer-bg-shape.jpg" alt="shapes">
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->
