<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu d-lg-none d-block scroll-sm position-fixed bg-black tw-w-300-px tw-h-screen overflow-y-auto tw-p-6 tw-z-999 tw--translate-x-full tw-pb-68 ">

    <button type="button" class="close-button position-absolute tw-end-0 top-0 tw-me-2 tw-mt-2 tw-w-605 tw-h-605 rounded-circle d-flex justify-content-center align-items-center text-neutral-900 bg-neutral-200 hover-bg-neutral-900 hover-text-white">
        <i class="ph ph-x"></i>
    </button>

    <div class="mobile-menu__inner">
        <a href="index.html" class="mobile-menu__logo">
            <img src="assets/images/logo.png" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
             <!-- ============================ Nav menu Start section  ======================================= -->
            <ul class="nav-menu d-lg-flex align-items-center nav-menu--mobile d-block tw-mt-8">
                <li class="nav-menu__item  activePage">
                    <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Home</a>
                </li>
                <li class="nav-menu__item  position-relative">
                    <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Pages</a>
                </li>
                <li class="nav-menu__item  position-relative">
                    <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Services</a>
                </li>
                <li class="nav-menu__item  position-relative">
                    <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Portfolio</a>
                </li>
                <li class="nav-menu__item  position-relative">
                    <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Blog</a>
                </li>
                <li class="nav-menu__item">
                    <a href="contact.html" class="nav-menu__link text-white hover-text-main-600 tw-py-9 fw-medium w-100">Contacts</a>
                </li>
            </ul>
 <!-- ============================ Nav menu End section  ======================================= -->
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->

<!-- ==================== Header Start Here ==================== -->
<header class="header tw-transition-all tw-z-99 header-transparent">
    <div class="container tw-container-1624-px">
        <nav class="d-flex align-items-center justify-content-between position-relative">

            <div class="header-left">
              <!-- Logo Start -->
              <div class="logo">
                  <a href="index.html" class="link">
                      <img src="assets/images/logo/logo.png" alt="Logo" class="max-w-200-px">
                  </a>
              </div>
              <!-- Logo End  -->
            </div>


            <!-- Header Right start -->
            <div class="header-right d-flex align-items-center tw-gap-5">
              <!-- Menu Start  -->
              <div class="header-menu d-lg-block d-none">
                   <!-- ============================ Nav menu Start section  ======================================= -->
                    <ul class="nav-menu d-lg-flex align-items-center tw-gap-8">
                        <li class="nav-menu__item  activePage">
                            <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Home</a>
                        </li>
                        <li class="nav-menu__item  position-relative">
                            <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Pages</a>
                        </li>
                        <li class="nav-menu__item  position-relative">
                            <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Services</a>
                        </li>
                        <li class="nav-menu__item  position-relative">
                            <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Portfolio</a>
                        </li>
                        <li class="nav-menu__item  position-relative">
                            <a class="nav-menu__link tw-pe-4 text-white hover-text-main-600 tw-py-9 fw-medium w-100">Blog</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="contact.html" class="nav-menu__link text-white hover-text-main-600 tw-py-9 fw-medium w-100">Contacts</a>
                        </li>
                    </ul>
                    <!-- ============================ Nav menu End section  ======================================= -->
              </div>
              <!-- Menu End  -->



              <!-- Button Start  -->
              <div class="header-button">
                <a class="border border-main-600 tw-rounded-3xl tw-px-8 tw-py-3 d-inline-flex align-items-center text-main-600 fw-medium hover-bg-main-600 hover-text-heading tw-transition-3" href="contact.html">Get Started</a>
              </div>  
              <!-- Button End  -->



              <!-- MobileMenu Button Start  -->
              <button type="button" class="toggle-mobileMenu d-lg-none text-white tw-text-9">
                  <span><img src="assets/images/icons/memu-toggole.svg" alt="icon"></span>
              </button>
              <!-- MobileMenu Button End  -->


            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->
