/* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@font-face {
  font-family: 'Mango Grotesque';
  src: url('../fonts/mango-grotesque.ttf') format('opentype');
}

$colors: (
  "main": (
    "50": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.9)),
    "100": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.8)),
    "200": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.7)),
    "300": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.6)),
    "400": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.5)),
    "500": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.4)),
    "600": hsl(var(--main-h), var(--main-s), var(--main-l)), // main theme color
    "700": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.1)),
    "800": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.2)),
    "900": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.3))
  ),
  "main-two": (
    "50": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.9)),
    "100": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.8)),
    "200": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.7)),
    "300": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.6)),
    "400": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.5)),
    "500": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.4)),
    "600": hsl(var(--main-two-h), var(--main-two-s), var(--main-two-l)), // main two theme color
    "700": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.1)),
    "800": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.2)),
    "900": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.3))
  ),
  "main-three": (
    "50": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.9)),
    "100": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.8)),
    "200": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.7)),
    "300": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.6)),
    "400": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.5)),
    "500": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.4)),
    "600": hsl(var(--main-three-h), var(--main-three-s), var(--main-three-l)), // main two theme color
    "700": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.1)),
    "800": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.2)),
    "900": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.3))
  ),
  "main-four": (
    "50": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.9)),
    "100": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.8)),
    "200": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.7)),
    "300": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.6)),
    "400": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.5)),
    "500": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.4)),
    "600": hsl(var(--main-four-h), var(--main-four-s), var(--main-four-l)), // main two theme color
    "700": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.1)),
    "800": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.2)),
    "900": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.3))
  ),
  "main-five": (
    "50": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.9)),
    "100": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.8)),
    "200": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.7)),
    "300": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.6)),
    "400": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.5)),
    "500": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.4)),
    "600": hsl(var(--main-five-h), var(--main-five-s), var(--main-five-l)), // main two theme color
    "700": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.1)),
    "800": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.2)),
    "900": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.3))
  ),
  "main-six": (
    "50": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.9)),
    "100": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.8)),
    "200": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.7)),
    "300": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.6)),
    "400": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.5)),
    "500": hsl(var(--main-six-h), var(--main-five-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.4)),
    "600": hsl(var(--main-six-h), var(--main-six-s), var(--main-six-l)), // main two theme color
    "700": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.1)),
    "800": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.2)),
    "900": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.3))
  ),
  "main-seven": (
    "50": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.9)),
    "100": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.8)),
    "200": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.7)),
    "300": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.6)),
    "400": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.5)),
    "500": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.4)),
    "600": hsl(var(--main-seven-h), var(--main-seven-s), var(--main-seven-l)), // main two theme color
    "700": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.1)),
    "800": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.2)),
    "900": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.3))
  ),
  
  "neutral": (
    "50": #f9fafb,
    "100": #f3f4f6,
    "200": #e5e7eb,
    "300": #d1d5db,
    "400": #9ca3af,
    "500": #6b7280,
    "600": #4b5563,
    "700": #374151,
    "800": #1f2937,
    "900": #111827,
    "950": #030712,
  ),
);

// Space
$spaces: (
  "05": #{rem(2px)}, 
  "1": #{rem(4px)},
  "105": #{rem(6px)},
  "2": #{rem(8px)},
  "205": #{rem(10px)},
  "3": #{rem(12px)},
  "305": #{rem(14px)},
  "4": #{rem(16px)},
  "405": #{rem(18px)},
  "5": #{rem(20px)},
  "505": #{rem(22px)},
  "6": #{rem(24px)},
  "605": #{rem(26px)},
  "7": #{rem(28px)},
  "705": #{rem(30px)},
  "8": #{rem(32px)},
  "9": #{rem(36px)},
  "10": #{rem(40px)},
  "11": #{rem(44px)},
  "110": #{rem(46px)},
  "12": #{rem(48px)},
  "122": #{rem(50px)},
  "13": #{rem(52px)},
  "133": #{rem(54px)},
  "14": #{rem(56px)},
  "140": #{rem(58px)},
  "15": #{rem(60px)},
  "155": #{rem(62px)},
  "16": #{rem(64px)},
  "17": #{rem(68px)},
  "18": #{rem(72px)},
  "19": #{rem(76px)},
  "20": #{rem(80px)},
  "21": #{rem(88px)},
  "22": #{rem(92px)},
  "23": #{rem(96px)},
  "24": #{rem(100px)},
  "25": #{rem(104px)},
  "26": #{rem(108px)},
  "27": #{rem(112px)},
  "28": #{rem(116px)},
  "29": #{rem(120px)},
  "30": #{rem(124px)},
  "31": #{rem(128px)},
  "32": #{rem(132px)},
  "33": #{rem(136px)},
  "34": #{rem(140px)},
  "35": #{rem(144px)},
  "36": #{rem(148px)},
  "37": #{rem(152px)},
  "38": #{rem(156px)},
  "40": #{rem(160px)},
  "45": #{rem(180px)},
  "47": #{rem(188px)},
  "63": #{rem(252px)},
  "83": #{rem(332px)},
);

$font-sizes: (
  "xs": #{rem(12px)},
  "sm": #{rem(14px)},
  "base": #{rem(16px)},
  "lg": #{rem(18px)},
  "xl": #{rem(20px)},
  "2xl": #{rem(24px)},
  "3xl": #{rem(30px)},
);

/* ========================= Variable Css Start ======================== */
:root {    
  /* Font Family Variable */
  --heading-font: 'Mango Grotesque', serif;
  --body-font: 'Satoshi', sans-serif;
  --inter-font: 'Inter', sans-serif;
  
  /* Font Size Variable Start */
  --heading-one: clamp(2rem, -0.0733rem + 6.3692vw, 4.25rem); // Min:32px - Max:68px
  --heading-two: clamp(1.75rem, 0.7133rem + 2.8846vw, 2.875rem); // Min: 28px - Max: 46px
  --heading-three: clamp(1.5rem, 0.3353rem + 2.1661vw, 2.5rem); // Min: 24px - Max: 40px
  --heading-four: clamp(1.25rem, 0.5569rem + 1.444vw, 2rem); // Min: 20px - Max: 32px
  --heading-five: clamp(1.125rem, 1.2rem + 0.722vw, 1.75rem); // Min: 18px - Max: 28px
  --heading-six: clamp(1rem, 0.769rem + 0.6813vw, 1.25rem); // Min: 16px - Max-20px
  /* Font Size End */

  /* template main color */
  --main-h: 78;
  --main-s: 68%;
  --main-l: 59%;
  --main: var(--main-h) var(--main-s) var(--main-l);

  /* template main two color */
  --main-two-h: 13;
  --main-two-s: 83%;
  --main-two-l: 53%;
  --main-two: var(--main-two-h) var(--main-two-s) var(--main-two-l);


  /* template main three color */
  --main-three-h: 43;
  --main-three-s: 81%;
  --main-three-l: 79%;
  --main-three: var(--main-three-h) var(--main-three-s) var(--main-three-l);


  /* template main four color */
  --main-four-h: 253;
  --main-four-s: 100%;
  --main-four-l: 50%;
  --main-four: var(--main-four-h) var(--main-four-s) var(--main-four-l);


  /* template main five color */
  --main-five-h: 7;
  --main-five-s: 100%;
  --main-five-l: 54%;
  --main-five: var(--main-five-h) var(--main-five-s) var(--main-five-l);

  /* template main six color */
  --main-six-h: 39;
  --main-six-s: 100%;
  --main-six-l: 50%;
  --main-six: var(--main-six-h) var(--main-six-s) var(--main-six-l);

  /* template main seven color */
  --main-seven-h: 214;
  --main-seven-s: 95%;
  --main-seven-l: 61%;
  --main-seven: var(--main-seven-h) var(--main-seven-s) var(--main-seven-l);




   /* Common Color */
  --white: 0 0% 100%;
  --black: 240 46% 5%;
  --body: 0 0% 43%;

  --heading-color: var(--black);
  --body-color: var(--body);
  

  --translate-x-50: translateX(-50%); 
  --translate-y-50: translateY(-50%); 
    
  // spacing
  @each $property, $value in $spaces {
    --size-#{$property}: #{$value};
  }
  
  // Colors
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  // font sizes
  @each $property, $value in $font-sizes {
    --font-#{$property}: #{$value};
  }  
}
/* ========================= Variable Css End ======================== */
