/* ============= Header Start Here ======================= */
.header-transparent {
    position: absolute;
    width: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: auto;
    z-index: 99;
    background: transparent;
    &.fixed-header {
          position: fixed !important;
    }
}

.header {
  @include md-screen {
    padding: 18px 0;
  }
  &.fixed-header {
    position: sticky;
    inset-inline-start: 0;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 100%;
    z-index: 9;
    backdrop-filter: blur(8px);
    animation: slideDown 0.5s ease-out;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    background: #111;
    @include md-screen {
      inset-block-start: -1px;
    }
  }
  &-search {
      @include xl-screen {
        display: none;
      }
  }
  &-button {
      @include msm-screen {
        display: none;
      }
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Header Menu and Submenu Css Start */
.nav-menu {
  &__item {
    &.activePage {
      > a {
        color: var(--main-600) !important;
        &::before {
          color: var(--main-600);
        }
      }
    }
    &:hover {
      > a {
        color: hsl(var(--heading-color));
        @media (min-width: 992px) {
          color: var(--main-600);
        }
      }
    }
  }
}

.has-submenu {
  &.active {
    > a,
    > a::before {
      color: var(--main-600);
    }
    > a::before {
      transform: translateY(-50%) rotate(180deg) !important;
    }
  }
  &:hover {
    .nav-submenu {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
    }
    > a {
      &::before {
        @media (min-width: 992px) {
          color: var(--main-600);
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
  > a {
    position: relative;
    &::before {
        position: absolute;
        content: "\e136";
        inset-inline-end: 0;
        inset-block-start: 52%;
        transform: translateY(-50%);
        font-family: "Phosphor";
        font-weight: 400;
        color: hsl(var(--white));
        transition: 0.2s linear;
        font-size: 12px;
    }
  }
}

/* Submenu Start */
.nav-submenu {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  min-width: 190px;
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transition: 0.4s ease;
  transform-origin: top center;
  &__item {
    &.activePage {
      .nav-submenu {
        &__link {
          color: var(--main-600) !important;
        }
      }
    }
    &:hover {
      a {
        color: hsl(var(--heading-color));
      }
    }
  }
}
.toggle {
  &-mobileMenu {
      @include xl-screen {
        display: none;
      }
      @include md-screen {
        display: block;
      }
  }
}

.nav-submenu {
  & .nav-submenu__item {
    & .nav-submenu__link {
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        background: var(--main-600);
        left: -2px;
        bottom: 18px;
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        color: var(--main-600);
        margin-inline-start: 10px;
        &::before {
          width: 10px;
        }
      }
    }
    &.activePage {
      & .nav-submenu__link {
          margin-inline-start: 10px;
          &::before {
            width: 10px;
          }
      }
    }
  }
}




.header-two {
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  &-call {
      @include lg-screen {
        display: none !important;
      }
  }
  &.fixed-header {
      border-color: #2c2316;
      background: #2c2316;
  }
}



.header-three {
  &-toggole {
    &:hover {
      & img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &.fixed-header {
      background: #d6e8f4;
  }
}



.header-four {
  &-toggole {
    &:hover {
      & img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &.fixed-header {
      background: #101010;
  }
}




.header-five {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  &-menu {
      border-right: 1px solid rgba(255, 255, 255, 0.07);
  }
  & .logo a img {
      filter: brightness(0) invert(1);
  }
  &.fixed-header {
    border-color: rgba(255, 255, 255, 0.07);
    background: #070125;
  }
}


.header-varian {
  & .logo img {
    filter: brightness(0) invert(1);
  }
}





/* Submenu End */
/* Header Menu and Submenu Css End */
/* ================================= Header Css End =========================== */


