.gallery-four {
    &-area {
        background: #202020;
        @include md-screen {
            padding-inline: 0;
        }

    }
    &-wrapper {
        &:hover {
            & .gallery-four-button {
                opacity: 1;
                visibility: visible;
                inset-block-start: 50%;
            }
        }
    }
    &-button {
        inset-inline-start: 50%;
        inset-block-start: 70%;
        inset-inline-end: 0;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: .4s ease-in-out;
    }
    &-btn {
        &::before {
            background-color: rgba(255, 48, 20, 0.471);
        }
        &::after {
            border: 1px solid rgba(255, 48, 20, 0.471);
        }
    }
}







.interactive-gallery {
    &-area {
        & .pin-spacer {
            @include xxxl-screen {
                transform: translateX(-100px);
            }
            @include xl-screen {
                transform: translateX(-100px);
            }
            @include lg-screen {
                transform: translateX(-150px);
            }

        }
    }
    &-list-thumb-wrap {
        @include md-screen {
            transform: translateX(0);
            width: 100%;
            height: 760px;
            margin-block-start: 30px;
        }
    }
    &-list-thumb{
        &-wrap{
            width: 655px;
            height: 760px;
            @include md-screen {
                width: 100%;
            }
        }
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6 {
            top: 0;
            left: 0;
            width: 655px;
            height: 760px;
            object-fit: cover;
            visibility: hidden;
            position: absolute;
            border-radius: 10px;
            @include xl-screen {
                width: 570px;
                height: 620px;
            }
            @include lg-screen {
                width: 450px;
                height: 620px;
            }
            @include md-screen {
                width: 100%;
            }

        }
    }
    &-list{
        &-wrap{
            & .interactive-gallery-list-item{
                &:first-child{
                    padding-top: 0;
                }
            }
        }
        &-item{
            padding-bottom: 25px;
            padding-top: 25px;
            position: relative;
            cursor: pointer;
            &.active {
                & .interactive-gallery-list-title {
                    color: var(--main-600);
                    background-size: 100% 1px;
                }
            }
        }
        &-title {
            font-weight: 900;
            letter-spacing: -0.04em;
            background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
            background-position: 0 100%;
            background-repeat: no-repeat;
            background-size: 0 1px;
            transition: all 0.3s, background-size 0.8s;
            @include xxl-screen {
                font-size: 4rem;
            }
            @include xl-screen {
                font-size: 3rem;
            }
            @include msm-screen {
                font-size: 2rem;
            }
        }
    }
}

#interactive-gallery-thumb{
    &.interactive-gallery-list-thumb-1{
        & .interactive-gallery-list-thumb-1{
            opacity: 1;
            visibility: visible;
            transform: scale(.9);
        }
    }
    &.interactive-gallery-list-thumb-2{
        & .interactive-gallery-list-thumb-2{
            opacity: 1;
            visibility: visible;
        }
    }
    &.interactive-gallery-list-thumb-3{
        & .interactive-gallery-list-thumb-3{
            opacity: 1;
            visibility: visible;
        }
    }
    &.interactive-gallery-list-thumb-4{
        & .interactive-gallery-list-thumb-4{
            opacity: 1;
            visibility: visible;
        }
    }
    &.interactive-gallery-list-thumb-5{
        & .interactive-gallery-list-thumb-5{
            opacity: 1;
            visibility: visible;
        }
    }
    &.interactive-gallery-list-thumb-6{
        & .interactive-gallery-list-thumb-6{
            opacity: 1;
            visibility: visible;
        }
    }
}