.skill-three {
    &-area {
        background: rgba(16, 83, 243, 0.05);
        & .percentage {
            font-size: 16px;
            bottom: 10px;
            font-weight: 500;
        }
    }
    &-wrapper {
        @include xxl-screen {
            width: 100%;
            height: 260px;
        }
        @include xxl-screen {
            width: 100%;
            height: 360px;
        }
        @include sm-screen {
            height: 260px;
            padding-inline: var(--size-14);
        }
        @include msm-screen {
            height: 380px;
            padding-inline: var(--size-14);
        }
    }
    &-title {
        @include xl-screen {
            font-size: 38px;
        }
    }
}